.load-more-container {
    text-align: center;
    margin-top: 2rem;
}
.end-of-feed-message {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2rem;
    position: relative;
}
.end-of-feed-message p {
    color: var(--text-secondary);
    font-style: italic;
    opacity: 0.7;
}
.end-of-feed-message::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 1px;
    background-color: var(--card-bg);
}