.background-grid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background-grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-image:
        linear-gradient(rgba(133, 8, 217, 0.1) 1px, transparent 1px),
        linear-gradient(to right, rgba(182, 8, 217, 0.1) 1px, transparent 1px);
    background-size: 60px 60px;
    opacity: 0.3;
    animation: pan-grid-performant 60s linear infinite;
    will-change: transform;
}

@keyframes pan-grid-performant {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}